@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/icmedinlhlpbcilepnklnhfgfafcpngc" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700" rel="stylesheet">
    <title>Vk Tracker</title>
    <meta name="theme-color" content="#69b318" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app"></div>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script type="text/javascript" src="/runtime~main.d9cab479b9a317e094ad.js"></script>
    <script type="text/javascript" src="/vendor.bd449d2b7820ef8cc30d.chunk.js"></script>
    <script type="text/javascript" src="/main.fc3fbe6dad0a2f27e3c0.chunk.js"></script>
</body>
</html>